/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #F2B807;
  --first-color-dark: #23004D;
  --first-color-light:#978F8F;
  --first-color-lighten:rgba(129, 167, 217, 0.3);
  ;
  

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .838rem;
  --small-font-size: .713rem;
}

@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
  
  background-color: var(--first-color-light);
  background-image: url("/assets/img/bg.jpeg");
}

h1,h3,h5, .email{
  
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.reset{
  text-align: center;
}
.password_confirm{
  margin-top: 10px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
.show_password_box, .psw{
  padding-top: 5px;
}
/*===== LOGIN =====*/
.login{
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.have_account{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
}

/* .login__img img{
  width: 310px;
  margin-top: 1.5rem;
} */

.login__forms{
  position: relative;
  height: 600px;
}
#reset_btn:hover{
  cursor:pointer;
  color: aqua;
}
#reset_btn{
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: #05C7F2;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.password_label, .username_label, .password_confirm, .show_psw, .show_password_box{
  color: whitesmoke;
  margin-top: 5rem;
  margin: 0px 80px;
  
}

/* #show_password{
  margin: 0px 80px;
} */
.show_forgot{
  display: flex;
  margin-right: 80px;
}
/* .show_psw{
  margin-left: 80px;
  gap: 0px;
} */

/* #show_password_signup{
  margin: 0px 8px;
} */
.login__registre, .login__create, .forgot_create{
  margin-left:10px;
  position: absolute;
  bottom: 1rem;
  top: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  border-radius: 1rem;
  height: 95vh;
  /* text-align: center; */
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  text-align: center;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr ;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  margin: 0px 80px;
  background-color: #FFF;
  /* margin-top: 1rem; */
  border-radius: .5rem;
}

.login__icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 600;
  color: var(--first-color-dark);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);

}

.login__button{
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: #05C7F2;
  color: #FFF;
  margin-left: 20rem;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
}

.login__button:hover{
  background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}

.login__account{
  color: whitesmoke;

}

.login__signin, .login__signup, .login__forgot, .back_to_login{
  color: var(--first-color);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}

.validation-error{
  border: crimson 1px solid;
  
}
.error{
  color: crimson;
  margin: 0px 80px;
}



/* forgot password */
  


@media screen and (max-width: 320px) {
  .row {
    padding-left: 1em;
    padding-right: 1em; }
    .row h1 {
      font-size: 1.5em !important; } }
@media screen and (min-width: 900px) {
  .row {
    width: 50%; } }


/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 800px;
    justify-self: center;
    /* margin-right: 20rem; */
  }
}

@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
    overflow: hidden;
  }


  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    /* margin-left: 10rem; */
   
  }

   /* .login__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten); 
    background-image: url("/assets/img/bg.jpg"); 
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    padding-left: 1rem;
  }  

   .login__img img{
    width: 390px;
    margin-top: 0;
  } 

   .login__registre, .login__create{
    left: -11rem;
  } 

   .login__registre{
    bottom: -2rem; 
   }

  .login__create{
    bottom: -5.5rem;
  } */

} 
